---
import Social from '../components/social.astro';
---
<p>
	<Social platform = "Github" username ="jankarlito689"/>
	<Social platform = "LinkedIn" username ="cesardevelop"/>
	<Social platform = "Email" username ="jankarli69@outlook.com"/>
</p>
