---
import Social from "./social.astro";
import "../styles/footer.css";
---

<footer class="site-footer">
    <div class="footer-inner">
        <p>© 2025 César Leos. Todos los derechos reservados.</p>
    <div class="social-links">
        <Social platform="Github" username="jankarlito689" />
        <Social platform="LinkedIn" username="cesardevelop" />
        <Social platform="Email" username="jankarli69@outlook.com" />
    </div>
    </div>
</footer>
