---
import Contacto from "./contacto.astro";
import "../styles/components/footer.css";
---

<footer class="site-footer">
    <div class="footer-inner">
        <p>© 2025 César Leos. Todos los derechos reservados.</p>
        <div class="social-links">
            <Contacto />
        </div>
    </div>
</footer>
